<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" width="50" height="50px">
    <tr>
        <td><span th:text="${member.seq}"></span></td>
        <td><span th:text="${member.id}"></span></td>
        <td><span th:text="${member.name}"></span></td>
        <td><span th:text="${member.email}"></span></td>
    </tr>
</table>
<a th:href="@{'/members/' + ${member.seq} + '/upform'}">update</a>
<a th:href="@{'/members/' + ${member.seq} + '/delform'}">delete</a>
<a th:href="@{'/members/'}">list</a>
</body>
</html>