a<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
</head>
<body>
<h1> Member update </h1>
<!-- th:method="put" 은 hidden type method 로 넘어간다 -->
<form action="#" th:action="@{'/members/' + ${member.seq}}" th:object="${member}" th:method="put">
  Seq : <input type="text" name="seq" th:field="*{seq}" th:value="*{seq}" readonly/><br>
  Id(*) : <input type="text" name="id" th:field="*{id}"/><br>
  Pw(*) : <input type="text" name="pw" th:field="*{pw}"/><br>
  Name(*) : <input type="text" name="name" th:field="*{name}"/><br>
  Email(*) : <input type="text" name="email" th:field="*{email}"/><br>
  Phone : <input type="text" name="phone" th:field="*{phone}"/><br>
  Address : <input type="text" name="address" th:field="*{address}"/><br>
  <input type="submit" value="Update"/><input type="reset" value="Reset"/>

</form>

</body>
</html>